@import "fonts";
@import "vars";


body h1,h2,h3,p, li{
  color: $text;
  font-family: avenir-medium;
}

#hero{
  min-height: 100vh;
}

#pricing{
  & table{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    & tr:nth-of-type(2) td{
      border-top: none;
    }
    & tr:last-of-type td{
      border-bottom: none;
    }
    & td {
      padding: 1em;
      text-align: center;
      border: 1px solid $highlight;
    }
    & td:first-of-type{
      border-left: none;
      border-top: none;
    }
    & td:last-of-type{
      border-right: none;
    }
  }
  & h1{
    text-align: center;
  }

}

#copyright-text{
  color: rgba($text, 0.3);
  font-size: 0.7em;
}

#carousel-wrapper{
  height: 50vh;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: visible;
}

.testimonial-list{
  list-style: none;
  text-align: center;
  & li{
    position: absolute;
    top: 0px;
    right: 2000px;
    text-align: center;
    width: 50%
  }
  & img{
    border-radius: 50%;
    margin: 2em;
  }
}

#active{
  right: inherit;
  left: 25%;
}

.arrow{
  height: 40px;
  width: 40px;
  border: 2px solid rgba($highlight, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    height: 60px;
    width: 60px;
  }
}

#next{
  border-left: 0px;
  border-bottom: 0px;
  transform: rotate(45deg);
  position: absolute;
  right: 5%;
  top:40%;
}
#previous{
  border-right: 0px;
  border-bottom: 0px;
  transform: rotate(-45deg);
  position: absolute;
  left: 5%;
  top: 40%;
}


.footer-icons{
  fill: rgba($text, 0.3);
  margin: 0.5em;
}

#contact{
  & h2{
    text-align: center;
  }
  & form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}
