@font-face {
    font-family: avenir-black;
    src: url("/assets/fonts/avenir/Avenir-Black.woff");
}

@font-face {
    font-family: avenir-medium;
    src: url("/assets/fonts/avenir/Avenir-Medium.woff");
}

@font-face {
    font-family: avenir-heavy;
    src: url("/assets/fonts/avenir/Avenir-Heavy.woff");
}
@font-face {
    font-family: avenir-roman;
    src: url("/assets/fonts/avenir/Avenir-Roman.woff");
}
